/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* root variables in CSS */
:root{
    --header-height: 3rem;

    /* colors */
    --title-color: #d28e8e;
    --text-color: #4d4747;
    --text-color-light: #717070;
    --container-color: #fcfbfb;
    --container-color-alt: #efe8e8;
    --body-color: #f1f0f0;

    /* fonts */
    --body-font: 'Poppins','sans-serif';
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h1-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;

    /* font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* margins */
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;

    /* z-index */
    --z-tooltip:10;
    --z-fixed: 100;

}

::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* dark-theme variables */
body.dark-theme{
    --title-color: #f3ecec;
    --text-color: #bfbfbf;
    --container-color: #212121;
    --container-color-alt: #181616;
    --body-color: #2b2b2b;
}

/* buttons dark & light */
.change-theme{
    position:absolute;
    right:0;
    top: 2.2rem;
    display:flex;
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.change-theme:hover{
    color: var(--text-color);
}

/* font-size vars to scale */
body.scale-cv{
    --h1-font-size: .938rem;
    --h2-font-size: .938rem;
    --h3-font-size: .857rem;
    --normal-font-size: .813rem;
    --small-font-size: .750rem;
    --smaller-font-size: .688rem;
}

/* button: pdf-generate */
.generate-pdf{
    display: none;
    position: absolute;
    top: 2.2rem;
    left: 0;
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
}

.generate-pdf:hover{
    color: var(--text-color);
}

/* to scale to A4 size */
.scale-cv .change-theme,
.scale-cv .generate-pdf{
    display: none;
}

.scale-cv .bd-container{
    max-width: 700px;
}

.scale-cv .section{
    padding: 1.5rem 0 .80rem;
}

.scale-cv .section-title{
    margin-bottom: .75rem;
}

.scale-cv .resume_left,
.scale-cv .resume_right{
    padding: 0 1rem;
}

.scale-cv .home_img{
    width: 85px;
    height: 85px;
}

.scale-cv .home_container{
    gap: 1rem;
}

.scale-cv .profile_description{
    font-size: 12px;
}

.scale-cv .home_data{
    gap: 10rem;
}

.scale-cv .home_address,
.scale-cv .social_container{
    gap: .55rem;
}

.scale-cv .home_address,
.scale-cv .social_container{
    gap: .55rem;
}

